
<div class="main-layout">

  <!-- Sidebar -->

  <aside class="sidebar" [class.hidden]="isSidebarVisible">
    <div class="sidebar-header">
      <h3>FillApp</h3>
    </div>
    <div class="sidebar-body"->

      <ul class="list-unstyled components">
        <li>
          <a routerLink="inicio"> <i class="fs-5 bi-house"></i> Inicio </a>

        </li>
        <li>
          <a routerLink="lista-empleados"> <i class="bi bi-people-fill"></i> Empleados</a>
        </li>
        <li>
          <a href="#"> <i class="bi bi-file-bar-graph"></i> Métricas</a>
        </li>
        <li>
          <a routerLink="lista-turnos"> <i class="bi bi-people-fill"></i> Lista de turnos</a>
        </li>
      </ul>
    </div>
  </aside>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="btn btn-outline-light" (click)="toggleSidebar()" aria-label="Toggle navigation">
      <i class="bi bi-list"></i> <!-- Botón de hamburguesa -->
    </button>
    <div class="ms-auto d-flex align-items-center">
      <span class="me-3">{{ usuarioLogueado?.Nombre }}, {{usuarioLogueado?.Apellido}}</span> <!-- Nombre del usuario -->
      <button class="btn btn-outline-danger" (click)="logout()">Salir</button>
    </div>
  </nav>
  <!-- Content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>