
<div class="container">
    
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body" *ngIf="clientes.length===0; else hayClientes">
                    <h5 class="card-title">Todo tranquilo</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
                <ng-template #hayClientes (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                    <div class="card-body" >
                        <h5 class="card-title">Llamar siguiente cliente </h5>
                        <a (click)="llamar()">
                            <i class="bi bi-person-plus-fill fs-1"></i>
                        </a>                        
                    </div>                    
                </ng-template>
            </div>
        </div>
        <!-- TODO hacer que si el cliente es null se muestre "Tomar descanso" -->
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">17 clientes atendidos</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">Tiempo medio de espera</h5>
                    <span>12 minutos</span>
                </div>
            </div>
        </div>
    </div> 
    <span></span>
    <div class="row mb-4" *ngIf="usuarioLogueado?.idCargo === 3">
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">4 Empleados logueados</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">Metricas</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">Tiempo medio de espera</h5>
                    <span>12 minutos</span>
                </div>
            </div>
        </div>
    </div> 
    
</div>
<div class="contenedor">
    <div class="form-container">
        <div class="form-header">
            <h2>Datos Cliente</h2>
        </div>
        <div class="form-body">
            <div class="form-group">
                <input type="text" placeholder="" value={{sigCliente.nombre}}>
                <input type="text"  value={{sigCliente.apellido}}>
            </div>
            <div class="form-group">
                <input type="text" value={{sigCliente.motivo}}>
                <input type="text" value={{sigCliente.mail}}>
            </div>
            <div class="form-group">
                <input type="email" >
            </div>
        </div>
    </div>
</div>
